<!DOCTYPE html>
<html>
  <head>
    <title>Gossip</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.0.2.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  	<ul>
<% if corsair_signed_in? %>
<li>
<%= link_to "J'ai un Ragot",  new_ragot_path %>
<%= link_to "Sign Out",  destroy_corsair_session_path, method: :delete %>
</li>
<% else %>
<li>
<%= link_to "Sign In",  new_corsair_session_path %>
</li>
<li>
<%= link_to "Sign Up",  new_corsair_registration_path %>
</li>
<% end %>
</ul>
  	</header>
    <%= yield %>
  </body>
</html>
